version: '3.8'

services:
  web:
    build:
      context: .
      dockerfile: local.Dockerfile
    ports:
      - "8000:8000"
    env_file:
      - local.env
    volumes:
      - ./AssignMate:/app
      - ./AssignMate/media:/app/media
      - .AssignMate/staticfiles:/app/staticfiles
    restart: unless-stopped