version: '3.8'

services:
  web:
    build:
      context: .
      dockerfile: local.Dockerfile
    ports:
      - "8000:8000"
    env_file:
      - local.env
    volumes:
      - .:/app
      - ./media:/app/media
      - ./staticfiles:/app/staticfiles
    restart: unless-stopped